{block content}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> List of all pages
            <a n:href="Page:new" class="btn_1 medium admin-function__button">New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {control pageList}
            </div>
        </div>
    </div>
{/block}
