{block content}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Edit PAGE
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {control pageForm}
            </div>
        </div>
    </div>
{/block}
