{block content}
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                {control loginForm}
            </div>
        </div>
    </div>
{/block}
