{block content}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> List of accepted orders
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {control acceptedList}
            </div>
        </div>
    </div>
{/block}
