<header class="header menu_fixed">
    <div id="logo">
        <a href="{plink Homepage:default}" title="Sparker - Directory and listings template">
            <img src="{$basePath}/img/logo.svg" width="165" height="35" alt="" class="logo_normal">
            <img src="{$basePath}/img/logo_sticky.svg" width="165" height="35" alt="" class="logo_sticky">
        </a>
    </div>
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="{plink Homepage:default}">HOME</a></span></li>
        </ul>
    </nav>
</header>
